.button {
  align-self: flex-end;

  /* font-family: "Shadows Into Light", cursive; */
  font-weight: bold;
  font-size: calc(0.8rem + 1.2vw);

  border: 2px solid #64463dff;
  border-radius: 8px;
  cursor: pointer;
  background-color: #b7897bff;
  margin: 2rem 0.5rem;
}

.button:hover {
  opacity: 0.8;
}
