.userData {
  padding: 1rem;
  max-width: calc(300px + 30vw);
  margin: 1rem auto;
  /* flex: 3 1 30rem;
  display: flex;
  flex-direction: column; */
}

.userData input {
  display: block;
  margin: .5rem auto;
  width: clamp(12rem, 12rem + 10vw, 35rem);

  border: 1px solid #64463dff;
  border-radius: 8px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  cursor: pointer;
}


@media (min-width: 31.25rem) /* 500px */{
  .userData input {
    height: 2rem;
  }
}


@media (min-width: 1150px) {
  .userData input {
    height: 2.8rem;
  }
}