.title {
  margin: 0 0.5rem 0.5rem;
  font-size: calc(1rem + 2.2vw);
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: .5rem auto;
}

.presentation {
  font-size: calc(1rem + 1vw);
  margin: 0 auto;
  letter-spacing: 0.1rem;
}

.final {
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  letter-spacing: 0.2rem;

}

@media (min-width: 598px) and (max-width: 900px) {
  .title {
    font-size: calc(.9rem + 1.5vw);
  }
  
.presentation {
  font-size: calc(1rem + .6vw);

  }
  
.final {
  font-size: calc(1rem + .5vw);
  margin: .4rem auto;
}
}