.title {
  margin: 1rem 0.5rem 0.5rem;
  font-size: calc(1rem + 2.5vw);
  font-weight: bold;
  letter-spacing: 0.4rem;
}

.presentation {
  font-size: calc(1rem + 1.2vw);
  margin: 0.6rem auto;
  letter-spacing: 0.1rem;
}

.final {
  font-size: calc(1rem + 1.2vw);
  font-weight: 600;
  letter-spacing: 0.3rem;
}

@media (min-width: 35rem) {
  .title {
    letter-spacing: 0.7rem;
  }
  .presentation {
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 49rem) and (max-width: 72rem) {
  .title {
    letter-spacing: 0.2rem;
  }
}
