.imgCard {
  flex: 1 2 40rem;
  height: calc(200px + 40vw);
  width: calc(200px + 20vw);

  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #64463dff;
  border-radius: 30px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 42rem) {
  .img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 35rem) {
  .imgcard {
    flex: 1 1 23rem;
    /* line-height: 1; */
    margin: 0;
  }
}
