.imgCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: calc(400px + 60vw);
  flex: 3 1 30rem;
  height: calc(400px + 10vw);
  max-width: calc(200px + 30vw);
  min-width: calc(200px + 20vw);
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #64463dff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: center;
}
