.app {
  background-color: #c99e9aff;
  border: 2px solid #64463dff;
  border-radius: 45px;
  overflow: hidden;

  min-height: 84vh;
  max-width: 94vw;
  box-sizing: border-box;
  padding: 0.4rem;
  margin: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;

  margin: 0;
  padding: 0.1 0.4rem;

  min-height: auto;
  max-width: 94vw;
}

@media (min-width: 35rem) {
  .app {
    min-height: auto;
    padding: 1rem;
    margin: 3vw auto;
  }
}

@media (min-width: 40rem) {
  .main {
    padding: 0.2vw 0.2vw;
    margin: 0;
  }
}
