@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  font-family: "Shadows Into Light", cursive;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #b7897bff;
  line-height: 1.2;
  font-size: clamp(1rem, 1.2rem, 3rem);

  padding: 0;
}

@media (min-width: 35rem) {
  body {
    line-height: 1.1;
  }
}
